# daviwil/dotfiles scripts

# generally exclude all
/.local/bin
/.local/lib
/.local/share
/.local/state
.config/polybar

# bash
/.bashrc
/.bash_profile
/.bash_logout
/.profile

# .config/sh
.config/sh/*.sh
.config/sh/profile.d/*.sh
.config/sh/rc.d/*.sh

# direnv
/.envrc
/.config/direnv/eg
/.config/guix/shell-authorized-directories

# /etc/skel to diff from various distros
/skel-images/**/*
!/skel-images/.gitkeep

# Sway
.config/sway/config
.config/sway/config.d/*
!.config/sway/config.d/*.garuda

# i3
.config/i3

# X11
.xinitrc
.xsession
.xprofile
.xessionrc

# XDG
.config/user-dirs.dirs

# fontconfig
.config/fontconfig/**
fonts/**
!fonts/.gitkeep

# xsettings
.config/xsettingsd/xsettingsd.conf

# Emacs
.emacs.d/per-system-settings.el
.emacs.d/tangle-dotfiles.el

# .emacs.network
.config/guix/manifests/emacs-network.scm
.emacs.network/emacs-network.scm
.emacs.network/**
!.emacs.network/README.org

# guile
.guile

# guix
.config/guix/channels.scm
.config/guix/base-channels.scm
#.config/guix/systems/base-system.scm
#.config/guix/systems/*.scm
.config/guix/systems/install.scm
.config/guix/manifests
!.config/guix/manifests/.gitkeep
!.config/guix/manifests/academic.scm
!.config/guix/manifests/cpp-build.scm
!.config/guix/manifests/python.scm
!.config/guix/manifests/arch-pwsafe.scm
!.config/guix/manifests/emacs-native-comp.scm

# shepherd
.config/shepherd/shepherd.log

# user-level guix channel signing keys
.config/guix/*.pub

# mcron
.config/mcron

# vlc
.config/vlc/vlc-qt-interface.conf

# dunst
.config/dunst

# mimetypes
.config/mimetypes
.config/mimeapps.list
.local/share/mime/packages/org.xml

# mpv
.config/mpv/mpv.conf

# zathura
.config/zathura/zathurarc

# gnupg
.gnupg
.gnupg.test
.bin/gpg-agent-env
.bin/emacs-agent-gpg
.bin/start-gpg
.bin/start-gpg-*

# ssh
.ssh

# shroud
.shroud
.config.shroud/*

# screen
.screen
.screenrc

# KDE
.config/spectaclerc

# python
.bin/pynv-install-py
.bin/pynv-install-poetry

## pyenv
.python-version

## poetry
.config/pypoetry

# xrandr
## screenlayout scripts (exported via arandr)

.screenlayout/kharis.sh
.screenlayout/kratos.sh

# patches
/patches
