# Window Managers

## i3
.config/i3
.config/polybar

## Sway
.config/sway/config
.config/sway/config.d/*
!.config/sway/config.d/*.garuda

# Shell

## bash
/.bashrc
/.bash_profile
/.bash_logout
/.profile

## .config/sh
.config/sh/*.sh
.config/sh/profile.d/*.sh
.config/sh/rc.d/*.sh

## fontconfig
.config/fontconfig/**
fonts/**
!fonts/.gitkeep

# Emacs

## Shared Config
.emacs.d/per-system-settings.el
.emacs.d/tangle-dotfiles.el
# TODO remove per-system-settings

## .emacs.network
.config/guix/manifests/emacs-network.scm
.emacs.network/emacs-network.scm
.emacs.network/**
!.emacs.network/README.org

# Side Effects

## Logs and Output
.diff

# WIP
/patches
.scratch

## Omarchy .bak (just in case these are linked)
.config/fastfetch/*.bak.*
.config/hypridle/*.bak.*
.config/hyprland/*.bak.*
.config/hyprlock/*.bak.*
.config/hyprsunset/*.bak.*
.config/swayosd/*.bak.*
.config/walker/*.bak.*
.config/waybar/*.bak.*

# NixOS
/nixos/result

# Guix

## Shepherd
.config/shepherd/shepherd.log

## user-level guix channel signing keys
.config/guix/*.pub

## mcron
.config/mcron

## Guile
.guile

## .config/guix/channels.scm
.config/guix/current
.config/guix/gpg
.config/guix/manifests
!.config/guix/manifests/.gitkeep
!.config/guix/manifests/academic.scm
!.config/guix/manifests/cpp-build.scm

# Apps

## vlc
.config/vlc/vlc-qt-interface.conf

## dunst
.config/dunst

## mpv
.config/mpv/mpv.conf

## zathura
.config/zathura/zathurarc

# Tools

## gnupg
.gnupg
.gnupg.test
.bin/gpg-agent-env
.bin/emacs-agent-gpg
.bin/start-gpg
.bin/start-gpg-*

## ssh
.ssh

## shroud
.shroud
.config.shroud/*

## screen
.screen
.screenrc

# Lang

## Direnv
/.envrc
/.config/direnv/eg
/.config/guix/shell-authorized-directories

## Python

### pyenv
.python-version

### poetry
.config/pypoetry

# XDG

## mimetypes
.config/mimetypes
.config/mimeapps.list
.local/share/mime/packages/org.xml

## data dirs
/.local/bin
/.local/lib
/.local/share
/.local/state

# X11

## X Server
.xinitrc
.xsession
.xprofile
.xessionrc

## xrandr
### screenlayout scripts (exported via arandr)
.screenlayout/kharis.sh
.screenlayout/kratos.sh

## XDG
.config/user-dirs.dirs
.config/__*

## xsettings
.config/xsettingsd/xsettingsd.conf

# Distro (and old installs)

## /etc/skel to diff from various distros
/skel-images/**/*
!/skel-images/.gitkeep

# KDE
.config/spectaclerc
