# -*- mode: gitconfig -*-
[user]
	email = aionfork@gmail.com
	name = David Conner
	signingkey = 0x4FFBCBA193874066
	
[github]
	user = dcunited001
	
# =============================================
# Core

[core]
	excludesfile = /home/dc/.gitignore_global
	editor = gmacsclient -- -t
	autocrlf = input
	pager = less -R

# =============================================
# Branching
[branch]
	autoSetupMerge=always
	autoSetupRebase=always
	
# =============================================
# Fetch

[init]
	defaultBranch = master

# TODO: templates?
# [init]
# templatedir = ~/.gittemplates
# [commit]
#	template = ~/.gittemplates/commit
	
[protocol "file"]
	allow = always

[submodule]
	# if zero: no limit on parallel clone jobs 4 submodules
	fetchJobs = 6

# ---------------------------------------------
# [remote "origin"]
#     prune = true
	
# ---------------------------------------------

# TODO: .gitconfig: remove pull.rebase? (when autoSetupRebase=always)
[pull]
	rebase = true

# =============================================
# Merge

# =============================================
# Rebase

# TODO: consider [rebase] autoStash = true
	
[rerere]
	enabled = true
	
# =============================================
# Commits

#[commit]
#  gpgSign = true # in git repository

# TODO: [difftool "emacsclient"] with smerge

# =============================================
# Diff and Patch
	
# [diff] # TODO: keep if compat with magit
# 	colorMoved = default

# via tecosaur & protesilaos (req. ~/.config/git/attributes)
# show org headlines instead of line numbers in diff hunks
	
[diff "org"]
	xfuncname = "^(\\*+ +.*)$"
	
[apply]
	whitespace = nowarn
	
# =============================================	
# Format

[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
	enabled = true

[color]
	diff = auto
	status = auto
	branch = auto

# TODO: if [color] ui = true
# [column]
# 	ui = auto column dense
	
# =============================================
	
[alias]
	co = checkout
	kg = stack
	ksy = stack sync
  kcfg = stack --dump-config -
	
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
