# daviwil/dotfiles scripts

# misc files (notes/etc)
misc/**

# .bin scripts
.bin/emacs-network

# generally exclude all
.local/share
.local/state
.config/polybar

# bash
.bashrc
.bash_profile
.profile

# .config/sh
.config/sh/*.sh
.config/sh/profile.d/*.sh

# direnv
.config/guix/shell-authorized-directories

# /etc/skel to diff from various distros
skel-images/**/*
!skel-images/.gitkeep

# Sway
.config/sway/config
.config/sway/config.d/*
!.config/sway/config.d/*.garuda

# i3
.config/i3

# X11
.xinitrc
.xsession
.xprofile
.xessionrc

# XDG
.config/user-dirs.dirs

# alacritty
.config/alacritty/*
.alacritty_bashrc
!.config/alacritty/alacritty.yml

# fontconfig
.config/fontconfig/**
fonts/**
!fonts/.gitkeep

# xsettings
.config/xsettingsd/xsettingsd.conf

# Emacs
.emacs.d/per-system-settings.el
.emacs.d/tangle-dotfiles.el

# .emacs.network
.config/guix/manifests/emacs-network.scm
.emacs.network/emacs-network.scm
.emacs.network/**
!.emacs.network/README.org

# guile
.guile

# guix
.config/guix/channels.scm
.config/guix/base-channels.scm
#.config/guix/systems/base-system.scm
#.config/guix/systems/*.scm
.config/guix/systems/install.scm
.config/guix/manifests
!.config/guix/manifests/.gitkeep
!.config/guix/manifests/academic.scm
!.config/guix/manifests/cpp-build.scm
!.config/guix/manifests/python.scm
!.config/guix/manifests/arch-pwsafe.scm

# shepherd
.config/shepherd/init.scm
.config/shepherd/shepherd.log

# user-level guix channel signing keys
.config/guix/*.pub

# mcron
.config/mcron

# vlc
.config/vlc/vlc-qt-interface.conf

# dunst
.config/dunst

# mimetypes
.config/mimetypes
.config/mimeapps.list
.local/share/mime/packages/org.xml

# qutebrowser
.config/qutebrowser/config.py
.config/qutebrowser/quickmarks

# mpv
.config/mpv/mpv.conf

# zathura
.config/zathura/zathurarc
