/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
@import "modules/colors.css";

/* Waybar Styling Reference */
/* https://github.com/Alexays/Waybar/wiki/Styling */

/* GTK3 Theme variables */
/* https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss */

/* GTK CSS Reference */
/* https://docs.gtk.org/gtk3/css-overview.html#colors */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:Symbols Nerd Font Mono;
    font-size: 15px;
    /* margin-left:5px; */
}

window#waybar {
    background: rgba(0, 0, 0, 0.65);
}

#workspaces {
    margin-left: 5px;
}
#workspaces button {
    /* padding: 2px 0px; */
    border-bottom: 3px;
    color: #eceff4;
    border-color: #d8dee9;
    border-style: solid;
    margin-left: 5px;
    border-radius: 2px;
}

#workspaces button:first-child {
    margin-left: 0px;
}
#workspaces button.active {
    border-color: #81a1c1;
    background-color: rgba(64,64,64,0.5);
}

/* #workspaces button.empty */
/* #workspaces button.persistent */
/* #workspaces button.special */
/* #workspaces button.visible */
/* #workspaces button.urgent */

/* you can't miss the submap lol */
#submap {
    background-image: linear-gradient(25deg, #333e3c, #3e214c);
    color: #ebcb8b;
    border-color: #d08770;
    border: 2px dotted;
    padding: 0px 5px;
    font-size: 18px;
    margin: 0px 3px;
    /* background-color: rgba(64,64,64,0.5); */
}

/* #submap.<name> { ... } */

#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-updates,
#custom-network_traffic {
    /* padding: 0 3px; */
    border-bottom: 3px;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
}

#custom-swaync,
#custom-sysz,
#custom-elephant,
#custom-idlecard
#custom-yktouch {
    margin-left: 2px;
    margin-right: 2px;
}

#custom-spacer {
    margin-left: 1px;
    margin-right: 1px;
}
#custom-spacer-head {
    margin-left: 16px;
    margin-right: 1px;
}

#custom-spacer-tail {
    margin-left: 1px;
    margin-right: 16px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#clock {
    color:#a3be8c;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #d3869b;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#wireplumber {
    color: #b48ead;
}

#pulseaudio {
    color: #b48ead;
}

#pulseaudio.muted {
    color: #bf616a;
}

#wireplumber.muted {
    color: #bf616a;
}

#wireplumber#source {
    color: #bf616a;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
    color: #ebcb8b;
}


#custom-yktouch {

}

#tray {
    margin-right: 5px;
}

#custom-launcher{
    font-size: 20px;
    background-image: url('/home/dc/.config/waybar/launcher.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: hidden;
}

#custom-power{
    border-style: hidden;
    margin-top:2px;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#custom-keyboard-layout{
    color:#d08770;
}
#custom-network_traffic{
    color:#d08770;
}

@import "../modules/submap.css";
#submap {
    font-size: 18px;
}
