[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"

RestartSec=30
Restart=on-failure

# Emacs will exit with status 15 after having received SIGTERM, which
# is the default "KillSignal" value systemd uses to stop services.
SuccessExitStatus=15

# The location of the SSH auth socket varies by distribution, and some
# set it from PAM, so don't override by default.
#Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Environment=DOOMDIR=$HOME/.doom.d
Environment=ORG_DIRECTORY=/data/org
Environment=_LANG=/data/lang
Environment=GRAPHVIZ_DOT=/usr/bin/dot
Environment=_DF=$HOME/.dotfiles

[Install]
WantedBy=default.target
