[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
StartLimitIntervalSec=300
StartLimitBurst=3

#--search-paths is diagnostic (output only)
#--network is only necessary for containers

[Service]
Type=simple
Environment=EMAIL=aionfork@gmail.com
Environment=SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh
Environment=GUIX_SOURCE=/data/ecto/guix/guix
Environment=EMACS_SOURCE=/data/ecto/emacs/emacs/src

#Type=notify #requires Notify
ExecStart=/bin/bash -c \
                    "guix shell -E '^EMAIL$' \
                          -E 'EMACS_SOURCE' \
                          -E 'GUIX_SOURCE' \
                          -p $GUIX_EXTRA/emacs-g/emacs-g -- \
                          emacs --fg-daemon=gmacs --init-directory=$HOME/.emacs.g --debug-init"
#ExecStartPre=/bin/bash -c "notify-send 'Starting Emacs Service...'"
#ExecStartPost=/bin/bash -c "notify-send 'Emacs Service Started Successfully'"

ExecStop=/bin/bash -c "guix shell -p $GUIX_EXTRA/emacs-g/emacs-g -- emacsclient -e '(kill-emacs)'"
#ExecStopPost=/bin/bash -c "notify-send 'Emacs Service Stopped Successfully'"


Restart=on-failure
RestartSec=30

# straight can take awhile
TimeoutStartSec=300

# Emacs will exit with status 15 after having received SIGTERM, which
# is the default "KillSignal" value systemd uses to stop services.
SuccessExitStatus=15

[Install]
WantedBy=graphical-session.target
