[Desktop Entry]
Name=Doom Emacs (Client)
GenericName=Text Editor
Comment=Edit text
MimeType=text/org;text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Icon=vim
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Doom
Keywords=doomclient;doom;
Actions=new-window;new-instance;

Exec=doomclient -- --alternate-editor="alacritty -e vim" %F

[Desktop Action new-window]
Name=New Window
Exec=doomclient -- --alternate-editor="alacritty -e vim" %F

# [Desktop Action new-instance]
# Name=New Instance
# Exec=gmacs -- %F
